{% extends 'index/layout.html' %}
{% block body %}
<div class="container">
    <form class="box box-shadow margin-top-bottom" method="POST" action = "{% url 'edit_account' %}">
        <h1 class="box-title">Edit account</h1>
        {% csrf_token %}
        <div class="form-group">
            <p class="form-label">Username:</p>
            <input type="text" class="form-control" value = "{{user.username}}" name="username">
        </div>
        <div class="form-group">
            <p class="form-label">Email:</p>
            <input type="email" class="form-control" value = "{{user.email}}" name="email">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-dark">
        </div>
    </form>
</div>
{% endblock %}