{% extends 'index/layout.html' %}
{% load static %}
{% block script %}
<script src="{% static 'index/item.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}
{% block body %}
<div class="item-container">
    <div class="margin-top-bottom row box box-shadow">
        <h1 class="box-title">{{item.name}}</h1>
        <span class="hidden" id="item-id">{{item.id}}</span>
        <a href="{{item.image.url}}"><img src = "{{item.image.url}}" class="item-image"></a>    
        <div class="item-info">
            {% if user.is_authenticated %}
                {% if liked %}
                <img src = "{% static 'Icon/loved.png' %}" alt="Unlike" class="item-option" id="love-icon" title = "Unlike">
                {% else %}
                <img src = "{% static 'Icon/love.png' %}" alt="Like" class="item-option" id="love-icon" title = "Like"> 
                {% endif %}
                {% if item.seller != user %}
                    {% if not saved %}
                    <img src = "{% static 'Icon/cart.jpg' %}" alt = "Add to cart" class="item-option" id = "cart-icon" title = "Add to cart">
                    {% else %}
                    <img src = "{% static 'Icon/remove_cart.png' %}" alt = "Remove from cart" class="item-option" id = "cart-icon" title = "Remove from cart">
                    {% endif %}
                {% endif %}
            {% endif %}
            <h4><span id="total_like">{{total_like}}</span> {% if total_like < 2 %}like{% else %}likes{% endif %}</h4>
            <h2>${{item.price}}</h2>
            <p class="box-text">{{item.description}}</p>
            {% if item.seller == user %}
            <h4><a class="link" href="{% url 'edit_item' item.id %}">Edit item</a></h4>
            <form action = "{% url 'delete_item' item.id %}" id="delete_form" method ="POST">
                {% csrf_token %}
                <h4 id="delete_form_submit"><a class="link text-danger" href="javascript:void(0)">Delete</a></h4>
            </form>
            {% endif %}
            <p class="timestamp">{{item.createdAt}}</p>
        </div>
    </div>
</div>
{% endblock %}