{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ecommerce by Justin{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        {% block script %}
        {% endblock %}
        <link type="text/css" rel = "stylesheet" href = "{% static 'index/HurlUI.css' %}">
        <link type = "text/css" rel = "stylesheet" href = "{% static 'index/style.css' %}">
        <script src= "{% static 'index/HurlUI.js' %}" defer></script>
        <script src = "{% static 'index/script.js' %}" defer></script>
    </head>
    <body>
        <nav class="top-nav nav-effect">
            <div class="container">
                <a class="nav-home" href="{% url 'index' %}">Ecommerce</a>
                <div class="topnav-right">
                    <span id="nav-ham" class="nav-ham" data-target="nav-list">☰</span>
                    {# showing login and register if the user is not logged in #}
                    <div id="nav-list">
                        {% if not user.is_authenticated %}
                            <a class="link" href = "{% url 'register' %}"><img src = "{% static 'Icon/Login.png' %}" class="nav-pp" title="Login" alt="Login icon"><span class="nav-pp-alt">Login</span></a>
                        {% else %}
                            <a class="link" href ="{% url 'logout' %}"><img src = "{% static 'Icon/Logout.jpg' %}" class="nav-pp" title="Logout" alt="Logout icon"><span class="nav-pp-alt">Logout</span></a>
                        {% endif %}
                        <a class="link" href="{% url 'sell_item' %}"><img src = "{% static 'Icon/add.png' %}" class="nav-pp" title = "Sell items" alt = "Sell items icon"><span class="nav-pp-alt">Sell items</span></a>
                        <a class="link" href="{% url 'cart' %}"><img src = "{% static 'Icon/cart.jpg' %}" class="nav-pp" title = "Sell items" alt = "Sell items icon"><span class="nav-pp-alt">Shopping cart</span></a>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>