@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.form-error{
    font-family: "Permanent Marker";
    font-weight: bold;
}
.top-nav{
    overflow: hidden;
}

.top-nav a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav a:hover{
    opacity: .5;
}

.topnav-right{
    float: right;
}

.nav-effect{box-shadow: 0 2px 30px -2px rgba(0,0,0,.2);}

.link{
    cursor: pointer;
}
.nav-pp{
    width: 30px;
}

.nav-pp-alt{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.nav-ham{
    display: none !important;
}

.nav-home{
    font-weight: bold;
    font-family: "Poppins";
    font-size: 20px;
}
.input-username{
    text-transform: lowercase;
}

.item-image{
    padding: 20px;
    width: calc(100% - 40px ) !important;
}

.item-info{
    padding: 20px;
    height: max-content;
    border-top: 1px solid #cabdbd;
}

.timestamp{
    opacity: .7;
}

.item-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}

.item-option{
    width: 40px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.cart-title{
    font-family: "Montserrat";
}

.cart-item-img{
    width: 100%;
    height: 30vh;
}

.cart-item-box{
    margin: 20px;
}

.cart-link{
    color: #000;
}

@media only screen and (max-width: 768px){
    .nav-pp-alt{
        display: block;
    }
    .nav-pp{
        display: none;
    }
    .nav-ham{
        display: block !important;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    #nav-list{
        display: none;
    }
    #nav-list a{
        width: 100vw;
    }
}

@media only screen and (min-width: 768px){
    .item-container{
        width: 750px;
    }
}